{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="hero">
    <h1>Welcome to My Portfolio</h1>
    <p>Hi, I'm Samanwaya Bhattacharya, a Python Developer.</p>
</header>
<section>
    <h2>About Me</h2>
    <p>I am a highly motivated and results-driven Python Developer with a strong foundation in analytical thinking and interpersonal communication. Passionate about leveraging Python to create innovative, efficient, and scalable solutions, I thrive in fast-paced environments and enjoy taking on new challenges. With experience in developing and deploying Python-based web applications, I am adept at optimizing code for performance, troubleshooting technical issues, and continuously learning new technologies. I am seeking an entry-level role where I can contribute my skills and grow professionally, while helping drive impactful solutions within a dynamic team</p>
</section>
{% endblock %}